<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Characters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">


  <ion-segment [value]="mode" (ionChange)="onModeChange($event)" class="seg">
    <ion-segment-button value="all">
      <ion-label>Todos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="aliveMales">
      <ion-label>Filtro solo MaLE</ion-label>
    </ion-segment-button>
  </ion-segment>

 
  <ion-list class="character-list" *ngIf="characters$ | async as items; else loading">
    <div class="char-card" *ngFor="let ch of items">
      <ion-item lines="none" class="char-row">
        <ion-avatar slot="start" class="avatar">
          <img [src]="ch.image || 'https://via.placeholder.com/80x80.png?text=–'" [alt]="ch.name" />
        </ion-avatar>
        <ion-label class="info">
          <h3 class="name">{{ ch.name }}</h3>
          <p class="species">{{ ch.species || '—' }}</p>
          <p [class]="statusClass(ch.status)">{{ ch.status }}</p>
        </ion-label>
      </ion-item>
    </div>

    <ion-item *ngIf="items.length === 0" lines="none">
      <ion-label>No hay personajes.</ion-label>
    </ion-item>
  </ion-list>

  <ng-template #loading>
    <ion-list class="character-list">
      <div class="char-card" *ngFor="let s of [1,2,3,4,5]">
        <ion-item lines="none" class="char-row">
          <ion-avatar slot="start" class="avatar">
            <ion-skeleton-text animated style="width:100%;height:100%"></ion-skeleton-text>
          </ion-avatar>
          <ion-label class="info">
            <ion-skeleton-text animated style="width:60%;height:18px;margin-bottom:6px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width:40%;height:14px;margin-bottom:4px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width:30%;height:14px"></ion-skeleton-text>
          </ion-label>
        </ion-item>
      </div>
    </ion-list>
  </ng-template>

</ion-content>
