<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Photos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-button expand="block" (click)="reload()">Recargar</ion-button>

  <ion-list *ngIf="photos$ | async as photos; else loading">
    <ion-item *ngFor="let p of photos | slice:0:50">
      <ion-label>
        <h2>{{ concatTitleId(p) }}</h2>
        <p>{{ concatTitleId(p) }} {{ concatTitleId(p) }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #loading>
    Cargando...
  </ng-template>
</ion-content>
